<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hover">

    <link name="dummy_link" />  

    <joint name="dummy_joint" type="fixed">
        <parent link="dummy_link"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <inertial>
            <origin xyz="0 0 0.08" rpy="0 0 0"/>
            <mass value="0.8"/>
            <inertia ixx="0.306"  ixy="0"  ixz="0" iyy="0.36" iyz="0" izz="0.54" />
        </inertial>

        <visual>
            <origin xyz="0 0 0.08" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.4 0.1" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0.08" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.4 0.1" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="base_link">
        <visual>
            <material>
                <ambient>0.0 0.0 1.0 1.0</ambient>
                <diffuse>0.0 0.0 1.0 1.0</diffuse>
                <specular>0.1 0.1 0.1 1.0</specular>
                <emissive>0.0 0.0 0.0 1.0</emissive>
            </material>
        </visual>
    </gazebo>

    <xacro:macro name="wheel" params="prefix x_reflect y_reflect">
        
        <link name="${prefix}_wheel">
            <inertial>
                <mass value="0.1"/>
                <inertia ixx="0.000702"  ixy="0"  ixz="0" iyy="0.000702" iyz="0" izz="0.001323" />
            </inertial>

            <visual>
                <geometry>
                    <cylinder radius="0.07" length="0.03"/>
                </geometry>
            </visual>

            <collision>
                <geometry>
                    <cylinder radius="0.07" length="0.03"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference="${prefix}_wheel">
            <visual>
                <material>
                    <ambient>1.0 1.0 1.0 1.0</ambient>
                    <diffuse>1.0 1.0 1.0 1.0</diffuse>
                    <specular>0.1 0.1 0.1 1.0</specular>
                    <emissive>0.0 0.0 0.0 1.0</emissive>
                </material>
            </visual>
            <mu1>0.4</mu1>
            <mu2>0.4</mu2>
            <kp>1000000.0</kp>
            <kd>100.0</kd>
        </gazebo>

        <joint name="joint_base_to_${prefix}_wheel" type="continuous">
            <origin xyz="${x_reflect * 0.115} ${y_reflect * 0.09} 0.07" rpy="1.57079633 1.57079633 1.57079633"/>
            <axis xyz="0 0 1"/>  
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
        </joint>

    </xacro:macro>

    <xacro:wheel prefix="right_front" x_reflect="1"  y_reflect="1" />
    <xacro:wheel prefix="right_back"  x_reflect="1"  y_reflect="-1" />
    <xacro:wheel prefix="left_front"  x_reflect="-1" y_reflect="1" />
    <xacro:wheel prefix="left_back"   x_reflect="-1" y_reflect="-1" />

    <xacro:property name="wheel_separation" value="0.23" />
    <xacro:property name="wheel_diameter" value="0.14" />

    <xacro:property name="cam_x" value="0.02" />
    <xacro:property name="cam_y" value="0.05" />
    <xacro:property name="cam_z" value="0.08" />

    <gazebo>
        <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
        <updateRate>100.0</updateRate>
        <leftFrontJoint>joint_base_to_left_front_wheel</leftFrontJoint>
        <rightFrontJoint>joint_base_to_right_front_wheel</rightFrontJoint>
        <leftRearJoint>joint_base_to_left_back_wheel</leftRearJoint>
        <rightRearJoint>joint_base_to_right_back_wheel</rightRearJoint>
        <wheelSeparation>${wheel_separation}</wheelSeparation>
        <wheelDiameter>${wheel_diameter}</wheelDiameter>
        <robotBaseFrame>base_link</robotBaseFrame>
        <torque>20</torque>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <covariance_x>0.000100</covariance_x>
        <covariance_y>0.000100</covariance_y>
        <covariance_yaw>0.010000</covariance_yaw>
        <broadcastTF>true</broadcastTF>
        </plugin>
    </gazebo>

    <xacro:macro name="camera_sensor" params="parent *origin">

        <link name="camera_link">
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.000296" ixy="0.0" ixz="0.0" 
                    iyy="0.000296" iyz="0.0" 
                    izz="0.000167" />
        </inertial>

        <visual>
            <geometry>
            <box size="${cam_x} ${cam_y} ${cam_z}"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
            <box size="${cam_x} ${cam_y} ${cam_z}"/>
            </geometry>
        </collision>
        </link>

        <joint name="joint_base_to_camera_link" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="camera_link"/>
        </joint>

        <gazebo reference="camera_link">
            <visual>
                <material>
                    <ambient>0.0 1.0 0.0 1.0</ambient>
                    <diffuse>0.0 1.0 0.0 1.0</diffuse>
                    <specular>0.1 0.1 0.1 1.0</specular>
                    <emissive>0.0 0.0 0.0 1.0</emissive>
                </material>
            </visual>
        </gazebo>

        <gazebo reference="camera_link">
        <sensor type="depth" name="camera">       
            <always_on>true</always_on>
            <visualize>true</visualize>             
            <camera>
            <horizontal_fov>0.733038</horizontal_fov>
            <image>
                <width>640</width>
                <height>480</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.1</near>
                <far>100</far>
            </clip>
            </camera>
        
            <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
                <baseline>0.2</baseline>
                <alwaysOn>true</alwaysOn>
                <updateRate>30.0</updateRate>
                <cameraName>camera</cameraName>
                <frameName>camera_link</frameName>                   
                <imageTopicName>rgb/image_raw</imageTopicName>
                <depthImageTopicName>depth/image_raw</depthImageTopicName>
                <pointCloudTopicName>depth/points</pointCloudTopicName>
                <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>              
                <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>            
                <pointCloudCutoff>0.4</pointCloudCutoff>                
                <hackBaseline>0.07</hackBaseline>
                
                <distortionK1>0.08572347676525761</distortionK1>
                <distortionK2>-0.016099638764187674</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>-0.00036488688145355395</distortionT1>
                <distortionT2>0.0007390441756055046</distortionT2>
                
                <CxPrime>323.6863650820585</CxPrime>
                <Cx>323.6863650820585</Cx>
                <Cy>225.13608657609507</Cy>
                <focalLength>833.628857</focalLength>
            </plugin>
        </sensor>
        </gazebo>

    </xacro:macro>

    <xacro:camera_sensor parent="base_link">
        <origin xyz="0.0 -0.14 0.165" rpy="0 0 4.712"/>
    </xacro:camera_sensor>

    <link name="imu_link">
        <inertial>
            <mass value="0.015"/> <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
        </inertial>
        <visual>
            <geometry>
                <box size="0.02 0.02 0.01"/>
            </geometry>
        </visual>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/> </joint>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>250</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>

        <imu>
            <angular_velocity>
            <x>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0003394</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.000038785</bias_stddev>
                </noise>
            </x>
            <y>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0003394</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.000038785</bias_stddev>
                </noise>
            </y>
            <z>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.0003394</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.000038785</bias_stddev>
                </noise>
            </z>
            </angular_velocity>
            <linear_acceleration>
            <x>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.004</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.006</bias_stddev>
                </noise>
            </x>
            <y>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.004</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.006</bias_stddev>
                </noise>
            </y>
            <z>
                <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>0.004</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.006</bias_stddev>
                </noise>
            </z>
            </linear_acceleration>
        </imu>

        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
            <topicName>imu/data</topicName>
            <bodyName>imu_link</bodyName>
            <updateRateHZ>250.0</updateRateHZ>
            <gaussianNoise>0.0</gaussianNoise> <xyzOffset>0 0 0</xyzOffset>
            <rpyOffset>0 0 0</rpyOffset>
            <frameName>imu_link</frameName>
            <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        </sensor>
    </gazebo>

</robot>